@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div id="content" >
        <div id="slide" >
        <div id="slideContent">
                <h2 id="Title"></h2>
                
                <p id="slidetext"></p>
                <p id="slideforms"></p>
        </div>
        
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button id="next" class="btn btn-primary me-md-2" type="button" onclick="upd()">Далее</button>
            </div>
        <p id="alertblock"></p>
    </div>



        <div id="history" >
            <H2>История</H2>
            <div class="accordion" id="accordionExample">


            </div>
        
        
        
        </div>
    
   
</div>
</div>


